.board-panel-container {
  display: flex;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;
}

.chessboard {
  /* viewport-height - navbar - heading - padding */
  width: calc(100vh - 80px - 25px - 10px);

  /* viewport-height - panel - padding */
  max-width: calc(100vw - 500px - 10px);

  margin-bottom: auto;
  padding: 0px 10px;

  color: white;
}

.chessboard-header {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}

.chessboard-header-special {
  color: #779952 !important;
}
