.board-panel-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;
}

.chessboard {
  width: calc(100vh - 80px - 28px - 10px); /* viewport-height - navbar - heading - padding */
  max-width: calc(100vw - 500px - 10px); /* viewport-height - panel - padding */

  margin-bottom: auto;
}

.chessboard-pad {
  padding: 0px 10px;
}

.chessboard-header {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}
