.button-component {
  background-color: var(--secondary-fg);
  color: white;
  width: 100%;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  font-family: 'Lexend', sans-serif;
}
.button-component.quit {
  background-color: #b40000;
}
.button-component:hover {
  opacity: 0.5;
}
.button-component:active {
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
.button-component.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-component {
  min-height: 50px;
  border: 1px solid white;
  border-radius: 4px;
  text-indent: 8px;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
}

.modal-component {
  max-width: 800px;
  max-height: 85vh;

  width: 90vw;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  margin: auto;
  margin-top: 10vh;
  text-align: center;
  z-index: 11;
}

.modal-background {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background: #000000b0;
  z-index: 10;
}

.modal-header {
  background-color: #2a2a2a;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 0px 20px;
}

.modal-header-box {
  width: 50px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.modal-title {
  width: 100%;
}

.modal-content {
  max-height: 70vh;
  padding: 20px;
  text-align: left;
  background-color: #383635;
  overflow-y: auto;
  overflow-wrap: break-word;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.modal-label {
  color: white;
  margin-top: 0;
}

.badge-component {
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.badge-component.OPEN {
  background-color: rgb(60, 60, 255);
}
.badge-component.CLOSED {
  background-color: rgb(255, 60, 60);
}
.badge-component.MERGED {
  background-color: rgb(35, 134, 54);
}

.cookie-warning-component {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--secondary-bg);
  padding: 10px 20px;
  align-items: center;
  -webkit-align-items: center;
  z-index: 5;
}

.radio-container {
  margin-bottom: 10px;
}

/* Hide Default Radio Input */
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
/* Label */
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--primary-fg);
}
/* Radio Box */
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--primary-fg);
  border-radius: 100%;
  background: var(--primary-fg);
}
/* Selected Radio Box */
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--secondary-fg);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* Hide when not checked */
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* Show when checked */
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
