.button-component {
  background-color: #779952;
  color: white;
  width: 100%;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend', sans-serif;
}
.button-component.quit {
  background-color: #b40000;
}
.button-component:hover {
  opacity: 0.5;
}
.button-component:active {
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
.button-component.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-component {
  min-height: 50px;
  border: 1px solid white;
  border-radius: 4px;
  text-indent: 8px;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
}

.modal-component {
  max-width: 800px;
  max-height: 400px;
  width: 90vw;
  height: 90vh;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: #383635;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
  z-index: 11;
}
/* .modal-component.fade {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
} */

.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000a1;
  z-index: 10;
}
/* .modal-background.fade-background {
  pointer-events: none;
} */

.modal-header {
  background-color: #0f0f0f;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.modal-header-box {
  width: 50px;
  display: flex;
  align-items: center;
}

.modal-title {
  width: 100%;
}

.modal-content {
  height: 100%;
  padding: 20px;
  text-align: left;
  background-color: #2a2a2a;
  overflow-y: auto;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.modal-label {
  color: white;
  margin-top: 0;
}

.badge-component {
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.badge-component.OPEN {
  background-color: rgb(60, 60, 255);
}
.badge-component.CLOSED {
  background-color: rgb(255, 60, 60);
}
.badge-component.MERGED {
  background-color: rgb(35, 134, 54);
}
