@import './burger.css';
@import './chessboard.css';
@import './components.css';
@import './contribute.css';
@import './navbar.css';
@import './panel.css';
@import './responsive.css';
@import './utilities.css';

:root {
  --primary-bg: #383635;
  --secondary-bg: #2a2a2a;

  --primary-fg: #e0e0e0;
  --secondary-fg: #779952;
  --link-fg: #95c068;
}

html,
body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  background-color: var(--primary-bg);
  color: var(--primary-fg);
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

p {
  line-height: 28px;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0f0f0f;
}
