@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes.css';

html,
body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
}

.panel-select {
  color: black;
  margin-bottom: 10px;
}
.panel-select > div > div:nth-of-type(1) > div:nth-of-type(1) {
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

/* Hide Default Radio Input */
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
/* Label */
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
/* Radio Box */
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background: #ffffff;
}
/* Selected Radio Box */
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: var(--theme);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* Hide when not checked */
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* Show when checked */
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

p {
  line-height: 28px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0f0f0f;
}
