.help-social {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 40px;
}

.help-social-link {
  cursor: pointer;
  margin-left: 20px;
  text-align: center;
  min-width: 155px;
}

.twitter {
  width: 100px;
  border-radius: 25px;
  margin-bottom: 10px;
}
