.navbar {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  color: #e0e0e0;
  width: 100vw;
}

.navbar-display {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px 10px;

  max-height: 80px;
  height: 80px;
}

/* ##### LOGO ##### */
.navbar-logo-container {
  display: flex;
  align-items: center;

  width: 33.33%;
  height: 100%;
}
.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar-logo-image {
  border-radius: 10px;
}
.navbar-logo-text {
  margin: 0px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.navbar-logo-text-subtitle {
  font-size: 20px;
  padding-left: 10px;
}

/* ##### DISPLAY LINKS ##### */
.navbar-display-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 33.33%;
  height: 100%;
  max-width: 800px;
  margin: auto;
}

.navbar-display-link {
  cursor: pointer;
  font-size: 45px;
  -webkit-text-stroke: 1px #2a2a2a;
}
.navbar-display-link:hover,
.navbar-display-link-selected {
  color: #779952;
}

/* ##### MENU LINKS ##### */
.navbar-menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;
  margin: 10px 0px;

  cursor: pointer;
  font-size: 35px;
  -webkit-text-stroke: 1px #2a2a2a;
}
.navbar-menu-link:hover,
.navbar-menu-link-selected {
  color: #779952;
}

.navbar-menu-link-text {
  padding-left: 20px;
}

/* ##### MENU BUTTON ##### */
.navbar-menu-button {
  margin-left: auto;
}

/* ##### SETTINGS ##### */
.navbar-display-settings {
  display: flex;
  flex-direction: row;
  width: 33.33%;
  justify-content: flex-end;
  padding-right: 10px;
}
