.panel {
  width: 500px;
  /* viewport-height - navbar - padding */
  height: calc(100vh - 80px - 20px);

  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  background-color: #2a2a2a;
  color: #e0e0e0;
}

.panel-title {
  text-align: center;
  background-color: #0f0f0f;
}

.panel-title-text {
  margin: 0px;
  padding: 20px 0px;
}

.panel-body {
  padding: 20px;
  flex-grow: 1;
  max-height: 1080px;
  min-height: 450px;

  overflow-y: auto;
  overflow-wrap: anywhere;
}

.panel-select {
  color: black;
  margin-bottom: 10px;
}
.panel-select > div > div:nth-of-type(1) > div:nth-of-type(1) {
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

.panel-scroll-display {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-grow: 1;
  /* min-height: 400px; */
  /* overflow-y: auto; */
  margin-bottom: 15px;
  padding-right: 10px;
}
.completed {
  color: var(--secondary-fg);
}
.failed {
  color: var(--secondary-fg);
}
.current {
  background-color: #0f0f0f;
  border-radius: 10px;
  padding-left: 10px !important;
}

.panel-scroll-display-opening {
  padding: 5px 0px;
  display: flex;
  display: -webkit-flex;
}

.panel-board-controls {
  padding: 20px;
  text-align: center;
  background-color: #0f0f0f;
}

.panel-board-control {
  width: 25%;
  margin: 5px;
  cursor: pointer;
  align-items: center;
  -webkit-align-items: center;
}

.panel-board-control.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.panel-board-control-button {
  appearance: none;
  font-size: 40px;
  background: unset;
  border: none;
  color: white;
  cursor: pointer;
  margin: auto;
  padding: 0px;
}

.panel-board-control-button.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.panel-board-control-button:focus,
.button-component:focus {
  outline: none;
}

.panel-summary-opening {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-grow: 1;
}

.panel-summary-opening-link {
  border-radius: 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.panel-summary-opening-link:hover {
  cursor: pointer;
  background-color: #0f0f0f;
}
