.panel {
  width: 500px;
  height: calc(100vh - 20px);
  max-height: calc(100vh - 20px);

  overflow-y: auto;
  overflow-wrap: anywhere;

  display: flex;
  flex-direction: column;

  background-color: #2a2a2a;
  color: #e0e0e0;
}

.panel-title {
  text-align: center;
  background-color: #0f0f0f;
}

.panel-title-text {
  margin: 0px;
  padding: 20px 0px;
}

.panel-body {
  padding: 20px;
  flex-grow: 1;
  max-height: 1080px;
}

.panel-select {
  color: black;
  margin-bottom: 10px;
}
.panel-select > div > div > div:first-child {
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

.panel-scroll-display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 400px;
  overflow-y: auto;
  margin-bottom: 15px;
  padding-right: 10px;
}
.completed {
  color: #779952;
}
.failed {
  color: #b40000;
}

.panel-scroll-display-opening {
  padding: 5px 0px;
  display: flex;
}

.panel-start {
  background-color: #779952;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
}
.panel-start.quit {
  background-color: #b40000;
}
.panel-start:hover {
  opacity: 0.5;
}
.panel-start:active {
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
.panel-start.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.panel-board-controls {
  padding: 20px;
  text-align: center;
  background-color: #0f0f0f;
}

.panel-board-control {
  width: 25%;
  margin: 5px;
  cursor: pointer;
  align-items: center;
}

.panel-board-control.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.panel-board-control-button {
  appearance: none;
  font-size: 40px;
  background: unset;
  border: none;
  color: white;
  cursor: pointer;
  margin: auto;
}

.panel-board-control-button.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.panel-board-control-button:focus,
.panel-start:focus {
  outline: none;
}
