@media (max-width: 550px) {
  .navbar-logo-text {
    font-size: 18px;
  }
  .navbar-logo-text-subtitle {
    font-size: 14px;
    padding-left: 6px;
  }
  .navbar-menu-link {
    font-size: 24px;
    -webkit-text-stroke: 0px #2a2a2a;
  }

  .page-title {
    font-size: 32px !important;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 850px) {
  .chessboard-header {
    font-size: 16px;
  }

  .panel-title-text {
    font-size: 24px;
  }
  .panel-board-controls {
    font-size: 12px;
  }
}

@media (max-width: 1600px) {
  .app {
    flex-direction: column !important;
  }

  .navbar-logo-container {
    width: 100%;
  }

  .main {
    align-items: unset !important;
  }

  .board-panel-container {
    flex-direction: column;
    align-items: center;
  }

  .chessboard {
    width: calc(100vw - 30px);
    max-width: calc(100vh - 200px);
    padding: 10px 0px;
  }

  .panel {
    width: calc(100vw - 30px);
    max-width: calc(100vh - 200px);
    height: 100%;
  }

  .panel-board-controls {
    order: 0;
  }
  .panel-body {
    order: 1;
  }
  .panel-title {
    order: 2;
  }
}
