@media (max-width: 850px) {
  .chessboard-header {
    font-size: 16px;
  }

  .sidebar-logo {
    margin-right: auto;
  }
  .sidebar-link {
    width: calc(100vw - 30px);
    margin: 10px !important;
    justify-content: center;
  }
  .sidebar-label {
    padding-left: 0;
  }
  .sidebar-spacer-800 {
    width: calc(100% - 425px);
  }
  .sidebar-spacer {
    display: none;
  }

  .panel-title-text {
    font-size: 24px;
  }
  .panel-board-controls {
    font-size: 12px;
  }
}

@media (max-width: 1600px) {
  .app {
    flex-direction: column !important;
  }

  .main {
    align-items: unset !important;
  }

  .chessboard-container {
    flex-direction: column;
    align-items: center;
  }

  .chessboard {
    width: calc(100vw - 40px);
    max-width: calc(100vh - 200px);
    padding-left: 0px;
    padding-right: 0px;
  }

  .sidebar-display {
    flex-direction: row !important;
    max-width: unset !important;
    width: 100vw !important;
    height: 85px;
    align-items: center;
  }
  .sidebar-link {
    margin-top: auto;
    margin-bottom: auto;
    height: 70px;
  }
  .sidebar-spacer {
    width: calc(100% - 525px);
  }

  .panel {
    width: calc(100vw - 40px) !important;
    max-width: calc(100vh - 200px);
  }
  .panel-board-controls {
    order: 0;
  }
  .panel-body {
    order: 1;
  }
  .panel-title {
    order: 2;
  }
}
