.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  width: 100%;

  background-color: #2a2a2a;
  color: #e0e0e0;
}

.sidebar-link {
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  align-items: center;
}
.sidebar-link:hover {
  background-color: #0f0f0f;
}

.sidebar-selected {
  background-color: #0f0f0f;
}

.sidebar-spacer {
  height: 100%;
}

.sidebar-button {
  width: 30px;
  appearance: none;
  font-size: 30px;
  background: unset;
  border: none;
  color: #779952;
  cursor: pointer;
  padding: 0;
}

.sidebar-button:focus {
  outline: none;
}

.settings-modal {
  max-width: 800px;
  max-height: 400px;
  width: 90vw;
  height: 90vh;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: #383635;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
  z-index: 11;
}
.settings-modal.fade {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  transition: opacity 0.3s;
  opacity: 0.5;
  z-index: 10;
}
.modal-background.fade-background {
  opacity: 0;
  pointer-events: none;
}

.modal-header {
  background-color: #0f0f0f;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.modal-header-box {
  width: 50px;
  display: flex;
  align-items: center;
}

.modal-title {
  width: 100%;
}

.modal-content {
  height: 100%;
  padding: 20px;
  text-align: left;
  background-color: #2a2a2a;
}

.modal-label {
  color: white;
  margin-top: 0;
}
