/* ### Container ### */
.container {
  max-width: 1044px;
  width: 100%;
}
.container-sm {
  max-width: 500px;
  width: 100%;
}

/* ### Width ### */
.width-100 {
  width: 100% !important;
}

/* ### Border ### */
.border-radius-4 {
  border-radius: 4px !important;
}

/* ##### Padding ##### */
.pad-5 {
  padding: 5px;
}
.pad-5-r {
  padding-right: 5px;
}
.pad-5-tb {
  padding: 5px 0px;
}

.pad-10 {
  padding: 10px;
}
.pad-10-l {
  padding-left: 10px;
}
.pad-10-r {
  padding-right: 10px;
}
.pad-10-lr {
  padding: 0px 10px;
}
.pad-10-tb {
  padding: 10px 0px;
}

.pad-20-t {
  padding-top: 20px;
}
.pad-20-b {
  padding-bottom: 20px;
}

/* ##### Margin ##### */
.margin-5-b {
  margin-bottom: 5px;
}
.margin-5-tb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-10-l {
  margin-left: 10px;
}
.margin-10-r {
  margin-right: 10px;
}
.margin-10-t {
  margin-top: 10px;
}
.margin-20-t {
  margin-top: 20px;
}
.margin-20-b {
  margin-bottom: 20px;
}
.margin-20-tb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-40-t {
  margin-top: 40px;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-auto-lr {
  margin-left: auto;
  margin-right: auto;
}

/* ##### Text ##### */
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.font-size-20 {
  font-size: 20px;
}

.page-title {
  font-size: 60px;
  margin-bottom: 20px;
}

/* ##### Flex ##### */
.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.flex-justify {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.flex-align {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ##### Hover ##### */
.hover {
  cursor: pointer;
}

.hover-dim:hover {
  cursor: pointer;
  opacity: 0.5;
}
